@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#__next {
  width: 100%;
  height: 100%;
}

#map {
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Animation for notification toast */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

